div#warpper {
    display: grid;
    grid-template-columns: 22.8% auto;
    grid-template-rows: 100%;
    gap: 16px;
    margin: 24px 14.2% 24px 12.5%;
}


#ArticleMenu {
    width: 16.8vw;
    height: 95.33vh;
    position: fixed;
}

div#ArticleMenuInsideLayout {
    height: 95.33%;
    margin: 32px 16px 16px;
    display: grid;
    grid-template-rows: 12.28% 67.54% 16.67%;
    gap: 16px;
}

div#MyonSign {
    display: grid;
    grid-template-rows: 64.28% 14.28%;
    gap: 24px;
}

#MyonText {
    text-align: center;
    font-size: 54px;
}

#SignText {

    text-align: center;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: lighter;
    color: #707070;
}

#ArticleNavSide {
    overflow-y: scroll;
}
div#ArticleNavSide::-webkit-scrollbar {
    display: none;
}

.ArticleNavWarpper {
}

.ArticleNavPanel {
    height: 8vh;
}

.heading-list {
    margin-bottom: 8px;
}


div#Other {

}

main#Articles {
    display: grid;
    gap: 16px;
}


.hide {
    animation-name: short-to-tall;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    overflow: hidden;
}

.unhide {
    animation-name: short-to-tall;
    animation-fill-mode: forwards;
}

@keyframes short-to-tall{
    from {
        height: 0px;
    }
    to {
        height: auto;
    }
}
