@if (IsMainComponent & Title is not null)
{
    <PageTitle>@Title - myon</PageTitle>
}
@using BlazorMarkdown

<Panel ID=@Title>
    <h1>@Title</h1>
    <Markdown FilePath=@Path.Join("wwwroot/Articles", Title + ".md") />
</Panel>

@code {
    [Parameter]
    public bool IsMainComponent { get; set; } = false;

    [Parameter]
    public string? Title { get; set; }

    private string? _title;
}
