@if (IsMainComponent & Title is not null)
{
    <PageTitle>@Title - myon</PageTitle>
}

<Panel ID=@Title>
    <div style="margin:16px">
    <h1>@Title</h1>
    <Markdown Path=@Path.Join("wwwroot/Articles", Title + ".md") />
    </div>
</Panel>

@code {
    [Parameter]
    public bool IsMainComponent { get; set; } = false;

    [Parameter]
    public string? Title { get; set; }

    private string? _title;
}
