<div id="@ID" class="@Class" style="
    width: @Weight;
    height: @Heigth;
">
    @ChildContent 
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? ID { get; set; }

    [Parameter]
    public string Weight { get; set; } = "auto";

    [Parameter]
    public string Heigth { get; set; } = "auto";

    [Parameter]
    public string Class {
        get => _class;
        set => _class += " " + value;
    }

    private string _class = "Panel";
}
